.box{
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    25% {background-color: aqua;}
    50% {background-color: rgb(0, 0, 0);}
   75% {background-color: rgb(212, 250, 21);}
    100% {background-color: rgb(72, 0, 255);}
}